@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Resource - Processo seletivo</h1>
    <p class="lead">Ficha de cadastro para processo seletivo</p>
    <p><a href="/FichaDeCadastroes/Index" class="btn btn-primary btn-lg">Ficha de Cadastro&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fase 1</h2>
        <p>Lista dos aprovados para a primeira fase do processo.</p>
        <p><a href="/FichaDeCadastroes/Fases/Fase1" class="btn btn-default"> Fase 1&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fase 2</h2>
        <p>Lista dos aprovados para a segunda fase do processo.</p>
        <p><a href="/FichaDeCadastroes/Fases/Fase2" class="btn btn-default">Fase 2&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detalhes do processo</h2>
        <p>Detalhes do processo seletivo - Lista dos candidatos aprovados e reprovados.</p>
        <p><a class="btn btn-default" href="/FichaDeCadastroes/Index">Learn more &raquo;</a></p>
    </div>
</div>